/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
  
a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/*Makeshift dark mode*/
body {
  background-color: #15202B;
}

.create, .album{
  background-color: #22303C;
}

.album h3, #positions h2, .options label{
  color: white;
}

.album h3, #positions h2{
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Add / Create card page. */
label{
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3[class='heading']{
  margin-top: 10px;
  margin-bottom: 10px;
}

.create input, select, h2, textarea, .album input{
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type='text'], input[type='button'].long, input[type='submit'].long, select, textarea{
  width: 100%;
}

input[type='number']{
  max-width: 50px;
}

.create .container{
  border: solid black 1px;
  border-radius: 10px;
  padding-bottom: 10px;
}


.inner, .totals, .search{
  background-color: rgb(205, 237, 245);
  border-radius: 5px;
}

.outer{
  background-color: rgb(237, 246, 248);
}

/*-------------------------------Album page:---------------------------------- */
.album{
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

/*START this can be deleted: because we are no longer using this style.*/
.pos-card{
  background-color: rgb(228, 241, 204);
  border-radius: 5px;
  margin: 5px;
}

.pos-card div, .que-card div{
  padding: 1px;
}

.que-card, .que-card .pos-card{
  background-color: rgb(204, 209, 241);
  border-radius: 5px;
  margin: 5px;
}
/*END deletion*/

.short{
  width: 80px;
}

/*Contains the Card and its Buttons:*/
.album-group{
  border-radius: 5px;
  padding: 3px;
  margin: 2px;
}

.pos{
  background-color: rgb(228, 241, 204);
}

.que{
  background-color: rgb(204, 209, 241);
}

.album .que .print-qcard.qcard-back{
  margin-top: 2px;
}


/*Stats page*/
.stats{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding-bottom: 5px;
}

.stats td, .stats th {
  border: 1px solid #ddd;
  padding: 8px;
}

.stats tr:nth-child(even){
  background-color: #f2f2f2;
}

.stats tr:hover {
  background-color: #ddd;
}

.stats th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.stats tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #aa410444;
  font-weight: bold;
}

.stats caption{
  caption-side: top;
  font-size: 20px;
  font-weight: bold;
}

/*---------------------Print page------------------------------------------------*/

/*Enables the conatiner to wrap if the width is too long. */
.d-flex{
  flex-flow:row wrap;  
}

@media print {
  .print-card{
    page-break-after: always;
  }
}

/*Question cards. These are Landscape cards.*/
.print-qcard{
  width: 88mm;
  height: 63mm;
  border: 2mm solid black;
  border-radius: 2.7mm;
  position: relative;
  margin: 0mm;
}

.print-qcard .card-header, .print-qcard.qcard-back .card-header{
  background-color: #a5a5a580;
}

.print-qcard .card-header, .print-qcard .list-group .list-group-item{
  font-family: sans-serif;
  font-size: 3mm;
}

.print-qcard.qcard-back .card-header{
  line-height: 45px;
}

.print-qcard.qcard-back .child{
  height: 11mm;
  text-align: center;
  vertical-align: middle;
}

.print-qcard.qcard-back .answer-img{
  width:10mm;
  height:10mm;
}

/*Font and size for the back of the question card.*/
.print-qcard.qcard-back .card-header, .print-qcard.qcard-back .list-group .list-group-item{
  font-family: sans-serif;
  font-size: 4.5mm;
}


/*Position cards*/
.print-card{
  width: 63mm;
  height: 88mm;
  border: 2mm solid black;
  border-radius: 2.7mm;
  position: relative;
  margin: 0mm;
}

/*Card text border.*/
.print-card .card-text{
  position:absolute; 
  top:38mm;
  left: 4mm;
  width: 55mm;

  margin-top: -1.5mm;
  margin-left: -2mm;
  margin-right: -2mm;

  padding: 1mm;

  /*border: 1px solid black;*/
  background-color: #cfc2bbff;
  border-radius: 2.7mm;

  /*Used to center the text.*/
  text-align: center;
}

/*Text border changes based on the Position Card type*/
.bonus-text{
  height: 46mm;
  line-height: 170px;
}

.smear-text{
  height: 41mm;
  line-height: 120px;
}

/* Text within the card*/
.print-card .card-text span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: sans-serif;
  font-size: 3.5mm;
  line-height: 5mm;
}

/*Card imgs and their points*/
.print-card .card-imgs{
  margin-bottom: 4mm;
  margin-left: 2mm;
  margin-right: 2mm;  
  display: inline;
}

/*Each img column. Contains 2 stacked images.*/
.img-col{
  margin-right: 1mm;
}

.print-card .cat-img{
  width:15mm;
  height:15mm;
  margin-top: 2mm;
}

.points{
  color: #007ae5ff;
}

.print-card .points{
  font-family: sans-serif;
  font-size: 9mm;
  vertical-align: middle;
}

/*Negative points and images will be drawn in red.*/
.bad{
  filter: hue-rotate(150deg);
  color: #007ae5ff;
}

/*Image for the Position Type name. AKA, the Smear Label image.*/
.print-card .position-img{
  height: 5.5mm;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5mm;
  width: 50%;
}

