/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  a {
    color: #0077cc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .border-top {
    border-top: 1px solid #e5e5e5;
  }
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
  }
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
  }
  
  /*Makeshift dark mode*/
  body {
    background-color: #15202B;
  }

  .create, .album{
    background-color: #22303C;
  }

  .album h3, #positions h2, .options label{
    color: white;
  }

  .album h3, #positions h2{
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  /* Add / Create card page. */
  label{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h3[class='heading']{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .create input, select, h2, textarea, .album input{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  input[type='text'], input[type='button'].long, input[type='submit'].long, select, textarea{
    width: 100%;
  }

  input[type='number']{
    max-width: 50px;
  }

  .create .container{
    border: solid black 1px;
    border-radius: 10px;
    padding-bottom: 10px;
  }
  

  .inner, .totals, .search{
    background-color: rgb(205, 237, 245);
    border-radius: 5px;
  }

  .outer{
    background-color: rgb(237, 246, 248);
  }

  /* Album page: */
  .album{
    border: solid black 1px;
    border-radius: 10px;
    padding-bottom: 10px;
  }

  .pos-card{
    background-color: rgb(228, 241, 204);
    border-radius: 5px;
    margin: 5px;
  }

  .pos-card div, .que-card div{
    padding: 1px;
  }

  .que-card, .que-card .pos-card{
    background-color: rgb(204, 209, 241);
    border-radius: 5px;
    margin: 5px;
  }

  .short{
    width: 80px;
  }


  /*Stats page*/
  .stats{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding-bottom: 5px;
  }

  .stats td, .stats th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .stats tr:nth-child(even){
    background-color: #f2f2f2;
  }

  .stats tr:hover {
    background-color: #ddd;
  }

  .stats th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .stats tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #aa410444;
    font-weight: bold;
  }

  .stats caption{
    caption-side: top;
    font-size: 20px;
    font-weight: bold;
  }